body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
div#twoteslist{
 
    float:left;
    padding:20px;
    
  
}
div.twotes{
	padding: 5px;
}
div.authorNameInTwote{
	padding: 5px;
}
removeTwote

button.removeTwote{
	padding: 5px;
}

div#authorsList{
 
 
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px ;
    background-color: #FFFFFF;
    text-align: center;
    padding:20px;
    float: right;
    width: 25%;
  
}

nav#navbar{
	background-color:#CCFFCC;
    color:black;
    text-align:left;
    padding:5px;
}
div.author{
	color: black;
}