body {
	font-family: 'Times New Roman', serif;
	font-size: 18px;
}
div#twoteslist{
 
    float:left;
    padding:20px;
  
}

div#authorsList{
 
    float:right;
    padding:20px;
  
}

nav#navbar{
	padding:20px;	
}