body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
div#twoteslist{
 
    float:left;
    padding:20px;
  
}
div.twotes{
	padding: 10px;
	box-shadow: 2px 2px 2px #888888;
}
div.authorNameInTwote{
	padding: 5px;
	float: right;
	
}
div.toggleAuthor{
	background-color: red;
}

div.toggleTwote{
	background-color: red;
}

button.removeTwote{
	padding: 5px;
	/*float: right;*/
}

div#authorsList{
 
 
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px ;
    background-color: #FFFFFF;
    text-align: center;
    padding:20px;
    float: right;
    width: 25%;
    box-shadow: 5px 5px 5px #888888;
  
}

nav#navbar{
	background-color:#CCFFCC;
    color:black;
    text-align:left;
    padding:5px;
}
div.author{
	color: black;
}